<% provide(:title, @chronology_test_answer.name) %>


<header id="header" class="alt">
  <h1><%= @chronology_test_answer.name %></h1>
</header>

<section id="banner">
  <div class="inner">
    <%= image_tag("sexy_geralt.png", :alt => "icon feed", :size => "580x400") %> <br />
    <h2> Your Answer : <%= @chronology_test_answer.answer %></h2>
  </div>

  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= flash[:danger] %>
    </div>
  </div>

  <p> <%= link_to "Submit and Test Another Answer!", edit_chronology_test_answer_path %></p>
</section>
